<h1>{{title}}</h1>
{{#if error}}
	<h2>{{error}}</h2>
{{/if}}

<form action='\pin', method="POST">
	<input type="text" name="pin">
	<input type="submit" value="ok">
</form>
<form action='\show', method="POST">
	<h3>Если не запомнили полученный PIN пройдите авторизацию снова </h3>
	<input type="submit" value="авторизация">
</form>
	
<h3>{{twitt}}</h3>